<h2>Contract lists</h2>
<%= link "Add a Contract", to: Routes.contract_path(@conn, :new), class: "nav-link" %>
<ul>
<%= for contract <- @contracts do %>

    <li>
        <%= contract.id %>
        <%= contract.vendor %>
        <%= contract.category %>
        <%= contract.cost %>
        <%= contract.endson %>
        <%= link "Edit",to: Routes.contract_path(@conn, :edit, contract) %>
    </li>

<% end %>
</ul>